body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 960 540' width='960' height='540' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='960' height='540' fill='%23ccc3b9'%3E%3C/rect%3E%3Cdefs%3E%3ClinearGradient id='grad1_0' x1='43.8%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23e8e8c8' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23e8e8c8' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_1' x1='43.8%25' y1='100%25' x2='100%25' y2='0%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23e8e8c8' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23ccc3b9' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_0' x1='0%25' y1='100%25' x2='56.3%25' y2='0%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23e8e8c8' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23e8e8c8' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_1' x1='0%25' y1='100%25' x2='56.3%25' y2='0%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23ccc3b9' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23e8e8c8' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(960  540)'%3E%3Cpath d='M-486 0C-431.8 -60.5 -377.5 -121.1 -343.8 -198.5C-310.1 -275.9 -296.9 -370.2 -243 -420.9C-189.1 -471.6 -94.6 -478.8 0 -486L0 0Z' fill='%23ddd5c0'%3E%3C/path%3E%3Cpath d='M-243 0C-215.9 -30.3 -188.8 -60.5 -171.9 -99.3C-155 -138 -148.4 -185.1 -121.5 -210.4C-94.6 -235.8 -47.3 -239.4 0 -243L0 0Z' fill='%23e8e8c8'%3E%3C/path%3E%3C/g%3E%3Cg transform='translate(0  0)'%3E%3Cpath d='M486 0C476.9 91.3 467.9 182.7 420.9 243C373.9 303.3 289 332.7 212.5 368.1C136 403.4 68 444.7 0 486L0 0Z' fill='%23ddd5c0'%3E%3C/path%3E%3Cpath d='M243 0C238.5 45.7 233.9 91.3 210.4 121.5C186.9 151.7 144.5 166.4 106.3 184C68 201.7 34 222.3 0 243L0 0Z' fill='%23e8e8c8'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light;
  background-color: dodgerblue;
  background-attachment: fixed;
  color: black;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

header h2 {
  text-align: center;
  font-size: 2rem;
  /* background-color: aliceblue; */
}

ul {
  list-style-type: none;
  font-weight: 500;
  font-size: 2rem;
  width: fit-content;
}

ul > li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul li:first-of-type {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

ul > li span {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

ul > li a {
  color: black;
  text-decoration: none;
}

ul > li a:hover {
  color: snow;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: solid;
  border-width: medium;
}

.headline {
  font-size: 2rem;
}

img {
  max-width: 100%;
  display: block;
}
