header
{
    height: 230px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,58,232,1) 100%);
    padding: 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
}
.thirtyPxIcon
{
    margin-top: 30px;
    height: 30px;
    padding-left: 10px;
}
.hunderedPixelsSize
{
    height: 100px;
    padding-left: 10px;
}
.profileName
{
    display: flex;
    flex-direction: column;
    height: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 17px;
}
.spannyspan
{
    display: flex; 
    flex-direction: row; 
    gap: 5px;
}
.editButton
{
    padding-left: 15px;
    height: 20px;
    gap: 10px;
}
.profileOfTheUser
{
    display: flex; 
    flex-direction: row;
    gap: 10px;
}
.thirtypxIMG
{
    height: 30px;
}
.sixtypxIMG
{
    height: 60px;
}
.pictureJumble
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.jumblePictureContainer
{
    padding-top: 20px;
    display: flex;
}
.paddingLeft
{
    padding-left: 10px;
}
.grayText
{
    color: gray;
}
.seeAll
{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-right: 10px;
    
}
.noMargin
{
    margin-block-start: 2.5px;
    margin-block-end: 2.5px;
}