.item-info {
   
   margin-top: -5%;
   padding-bottom: 5%;
    font-size: 1.0rem;
    font-family: 'Chilanka', cursive;
    
    
    h1 {
        
        
        font-size: 2rem;
        color: $main-color;
        font-family: 'BRUSHMOSH! Demo';}

        width: 90%;
        letter-spacing: 2px;
        
        margin-left: 5%;

        line-height: 20px;

}

.combos {
    img {
        width: 90vw;
        height: 350px;
        margin-top: 5%;
    }
}
 
   
    

    