.booking {
  font-size: 14px;
  font-family: Helvetica;
}

.booking section {
  padding: 0 23px;
}

.booking-nav span {
  font-weight: bold;
}

#person-info {
  /* label color */
  /* label focus color */
  /* label underline focus color */
  padding: 0 24px;
}

#person-info .input-field label {
  color: #000;
}

#person-info .input-field input[type=text]:focus + label {
  color: #000;
}

#person-info .input-field input[type=email]:focus + label {
  color: #000;
}

#person-info .input-field input[type=number]:focus + label {
  color: #000;
}

#person-info .input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
          box-shadow: 0 1px 0 0 #000;
}

#person-info .input-field input[type=email]:focus {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
          box-shadow: 0 1px 0 0 #000;
}

#person-info .input-field input[type=number]:focus {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
          box-shadow: 0 1px 0 0 #000;
}

#person-info .input-field {
  margin-top: 10px;
  margin-bottom: 0;
}

.booking .row {
  margin-bottom: 0;
  margin-top: 0;
}

.review {
  padding: 18px 23px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin: 16px auto;
  background-color: black;
  border-radius: 10px;
  width: 327px;
  height: 112px;
}

.review .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 8px;
}

.review .text div:first-of-type {
  font-weight: bold;
}

.review .text div:nth-of-type(2) span {
  font-weight: bold;
}

.review .text div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .text div:last-of-type img {
  display: none;
  margin-left: auto;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border-style: none;
  border: 1px solid #707070;
  margin-top: 16px;
}

fieldset legend {
  color: #6D6D71;
  font-size: 12px;
  margin: 0 10px;
  padding: 0 10px;
}

fieldset div {
  margin: 0 auto;
  color: #5d5b5b;
  font-size: 16px;
}

.booking-review-time {
  margin: 16px 0px;
}

.booking-review-time div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking-review-time div:first-of-type fieldset {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.detail-breakdown {
  padding: 3px 0px;
}

.detail-breakdown h4 {
  font-size: 16px;
  font-weight: bold;
}

.detail-breakdown .bg-wrap {
  height: 156px;
  background-color: #D5D5D738;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.detail-breakdown .bg-wrap div {
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  color: #5D5B5B;
  border-bottom: 1px solid #d5d5d7b2;
}

.detail-breakdown .bg-wrap div span:first-of-type {
  font-weight: 200;
}

.detail-breakdown .bg-wrap div span:last-of-type {
  font-size: 18px;
}

.detail-breakdown .bg-wrap div:last-of-type {
  border: none;
}

.detail-breakdown .bg-wrap div:last-of-type span {
  font-weight: 600;
  color: black;
}

.disable-btn {
  background: #cacaca;
  pointer-events: none;
  border: none;
}
/*# sourceMappingURL=booking.css.map */