@import "./var";
.maps {
    height: 50vh;
    // background: pink;
}

.map-listing {
    .filter-list {
        margin-top: 16px;
    }
}

#map-content {
    background-color: #fff;
    height: 30vh;
    overflow-y: scroll;
    .card-wrapper {
        display: flex;
        flex-direction: row;
    }
}

.splide__slide {
    display: flex;
    .card-item {
        margin: 0 auto;
    }
}

.splide__arrow {
    svg:hover {
        fill: white;
    }
}

.splide__pagination {
    bottom: -12px;
}

.splide__pagination__page.is-active {
    background: black;
}