@import "./var";
.payment {
    font-size: 16px;
    background-color: #2D2D2D;
    position: relative;
    z-index: 1;
}

.bottom-grey {
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    height: 320px;
    width: 100vw;
    background-color: #EAEAEB;
    display: block;
    border-radius: 20px;
    z-index: -2;
}

.payment-nav {
    //   background-color: yellow;
    color: white;
}

.visa-wrapper {
    display: flex;
    img {
        margin: 0 auto;
    }
}

.payment-wrapper {
    padding: 0 23px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    width: 327px;
    height: 488px;
    display: block;
    @include flexcenter(column);
    justify-content: space-between;
    .bar {
        height: 12px;
        width: 100px;
        display: inline-block;
        background-color: #D5D5D7;
        border-radius: 50px;
        margin-top: 11px;
    }
    .unit-half {
        // width: 80vw;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .card-unit {
            width: 35vw;
        }
    }
    .card-unit {
        // width: 285px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 13px;
        label {
            padding-left: 10px;
            color: #707070;
            font-size: 16px;
            font-weight: 500;
        }
        // input[type=number]:not(.browser-default),
        // input[type=text]:not(.browser-default) {
        //     width: 98%; // background-color: green;
        //     border-radius: 10px;
        //     border: 1px solid #707070;
        //     padding-left: 10px;
        // }
    }
    p {
        font-family: Helvetica;
        font-weight: 300;
        color: #A3A3A3;
        font-size: 13px;
    }
    .long {
        margin: 0 0 20px 0;
        width: 300px;
    }
}

#receipt-back {
    font-size: 27px;
    font-weight: 200;
}

input[type=number]:not(.browser-default),
input[type=text]:not(.browser-default) {
    width: 98%; // background-color: green;
    border-radius: 10px;
    border: 1px solid #707070;
    padding-left: 10px;
}

// .wrong {
//     background-color: pink !important;
//     border: 1px red solid !important;
// }
.card-unit input[type=text]:focus+label {
    color: black !important;
}